<!-- Main Content Area -->
<div class="page-holder">
    <!-- ENTRIES CALLER -->
    <div class="col-12 ml-auto d-flex justify-content-end button-holder">
      <!-- SHOW ENTRIES -->
      <button class="btn btn-dark mr-1" id="showButton">Entries</button>
      <!-- HIDE ENTRIES -->
      <button class="btn btn-danger" id="hideButton">Close</button>
    </div>
    
    <!-- ENTRIES -->
    <div class="mt-3" id="targetDiv" style="display: none;">
        <!-- PAGE TITLE -->
          <div class="col-sm-12 top-title-bar">
            <label id="tittle-bar">ORDER MANAGEMENT</label>
          </div>

        <!-- ENTRIES CONTAINER -->
          <div class="col-md-12 entry-container">
            <div>
                <!-- <form class="needs-validation order-form" novalidate> -->
                    <!-- Order Section -->
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="o_customerid">Customer ID</label>
                            <input id="o_customerid" name="o_customerid" type="text" class="form-control" name="customerid" id="customerid" placeholder="Customer ID" required>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="o_orddate">Order Date</label>
                            <input id="o_orddate" name="o_orddate" type="datetime-local" class="form-control" id="o_orderdate" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="o_totalamount">Total Amount</label>
                            <input id="o_totalamount" name="o_totalamount" type="number" class="form-control" id="o_totalamount" placeholder="Total Amount" step="0.01" required>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="o_ordstatus">Order Status</label>
                            <input id="o_ordstatus" name="o_ordstatus" type="text" class="form-control" id="o_orderstatus" placeholder="Order Status" required>
                        </div>
                    </div>

                    <button class="btn btn-success" name="addbtnorder" id="addbtnorder" type="submit">Confirm Oders</button>
                <!-- </form> -->
            </div>
          </div>
        <!-- CONTAINER END -->
    </div>
    <!-- END ENTRIES -->

    <!-- TABLE TITLE -->
    <div class="col-sm-12 mid-title-bar">
      <label id="tittle-bar">ORDER TABLE</label>
    </div>

    <!-- TABLE -->
    <div class="col-md-12 table-container">
        <table id="order-join-table" class="table">
          <thead>
              <th>Order ID</th>
              <th>Customer ID</th>
              <th>Status</th>
              <th>Order Date</th>
              <th>Total Amount</th>
              <th>Action</th>
          </thead>
          <tbody></tbody>
        </table>     
    </div>
  </div>
  