<script>
  $(document).ready(function () {
    LoadTable();

    function LoadTable() {
      $("#product-table").DataTable({
        destroy: true,
        processing: true,
        serverSide: true,
        paging: false,
        searching: false,
        info: false,
        scrollY: 400,
        scrollCollapse: true,
        serverMethod: "GET",
        ajax: {
          url: "/product/load",
          dataSrc: (json) => {
            var finalData = [];
            var data = json.data;

            console.log(data);
            $.each(data, (key, item) => {
              var action = "";
              var status = item.status;

              action = `<ul class="wrapper">
                          <li class="icon1 edit">
                              <span class="tooltip">EDIT</span>
                          <img id="icons" src="./images/icons/edit.png">
                          </li>
                          <li class="icon2 delete">
                          <span class="tooltip">DELETE</span>
                          <img id="icons" src="./images/icons/delete.png">
                          </li>
                      </ul>`;

              // var base64 = "Lagayan ng base64 na text from sir joseph na cute";

              finalData.push({
                productid: item.productid,
                image: `<img src="data:image/png;base64,${item.image}" alt="#" />`,
                productname: item.productname,
                categoryname: item.categoryname,
                categoryid: item.categoryid,
                price: item.price,
                quantity: item.quantity,
                insertdate: item.insertdate,
                updtdate: item.updtdate,
                action: action,
              });
            });

            return finalData;
          },
        },
        columnDefs: [
          {
            targets: 1,
            className: "td-indent",
          },
        ],
        columns: [
          { data: "productid" },
          { data: "image" },
          { data: "productname" },
          { data: "categoryname" },
          { data: "categoryid" },
          { data: "price" },
          { data: "quantity" },
          { data: "insertdate" },
          { data: "updtdate" },
          { data: "action" },
        ],
        initComplete: function () {},
      });
    }

    // This is the id on your entries in dashboard
    $(document).on("click", "#addbtnproduct", function () {
      console.log("click");
      var p_name = $("#p_name").val();
      var p_description = $("#p_description").val();
      var p_price = $("#p_price").val();
      var p_quantity = $("#p_quantity").val();
      var p_categoryid = $("#p_categoryid").val();
      var p_image = $("#p_image").val();
      var p_createdat = $("#p_createdat").val();
      var p_updatedat = $("#p_updatedat").val();

      $.ajax({
        type: "POST",
        url: "/product/save",
        // The first variable should be same on router.post('/save',(req,res)=> {
        // The second variable should be same on $(document).on("click", "#idNameOnYourEntries", function () {
        data: {
          name: p_name,
          description: p_description,
          price: p_price,
          quantity: p_quantity,
          categoryid: p_categoryid,
          image: p_image,
          createdat: p_createdat,
          updatedat: p_updatedat,
        },
        success: function (result) {
          LoadTable();
        },
        error: function (error) {},
      });
    });
  });
</script>