<!-- MAIN CONTENT -->
<div class="page-holder">
    <!-- ENTRIES CALLER -->
    <div class="col-12 ml-auto d-flex justify-content-end button-holder">
      <!-- SHOW ENTRIES -->
      <button class="btn btn-dark mr-1" id="showButton">Entries</button>
      <!-- HIDE ENTRIES -->
      <button class="btn btn-danger" id="hideButton">Close</button>
    </div>

    <!-- ENTRIES -->
    <div class="mt-3" id="targetDiv" style="display: none;">
        <!-- PAGE TITLE -->
          <div class="col-sm-12 top-title-bar">
            <label id="tittle-bar">CUSTOMER MANAGEMENT</label>
          </div>

        <!-- ENTRIES CONTAINER -->
          <div class="col-md-12 entry-container">
            <div>
                <div class="customer-entries">
                    <!-- <form class="needs-validation payment-customer-form" novalidate> -->
            
                        <!-- Customer Section -->
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="c_fname">First Name</label>
                                <input id="c_fname" name="c_fname" type="text" class="form-control" id="c_firstname" placeholder="First Name" required>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label for="c_lname">Last Name</label>
                                <input id="c_lname" name="c_lname" type="text" class="form-control" id="c_lastname" placeholder="Last Name" required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="c_email">Email</label>
                                <input id="c_email" name="c_email" type="email" class="form-control" id="c_email" placeholder="Email" required>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="c_phone">Phone</label>
                                <input id="c_phone" name="c_phone" type="tel" class="form-control" id="c_phone" placeholder="Phone" required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="c_address">Address</label>
                                <input id="c_address" name="c_address" type="text" class="form-control" id="c_address" placeholder="Address" required>
                            </div>
                        </div>

                        <button id="addbtncustomer" class="btn btn-success" type="submit">+ Add</button>
                    <!-- </form> -->
                </div>
            </div>
          </div>
        <!-- CONTAINER END -->
    </div>
    <!-- END ENTRIES -->

    <!-- TABLE TITLE -->
    <div class="col-sm-12 mid-title-bar">
      <label id="tittle-bar">CUSTOMER TABLE</label>
    </div>
    <!-- TABLE -->
    <div class="col-md-12 table-container">
        <table id="customer-table" class="table">
          <thead>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Address</th>
              <th>Action</th>
          </thead>
          <tbody></tbody>
        </table>
    </div>
  </div>
  